@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Common Styles*/
body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* ul {
  list-style-type: none; */
/* } */
.main {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.nav-link {
  color: #666666;
}
.btn {
  width: 100%;
  max-width: 56px;
  /* height: 36px; */
  border: #959595 4px solid;
  border-radius: 68px;
  padding-bottom: 20px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 20px;
  /* height: 70px; */
  color: #959595;
  font-size: 24px;
  font-weight: bold;
  border: #959595 4px solid;
  margin-top: 40px;
}
/* Header Style*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-bottom: 36px;
}
.logo-img-small {
  display: none;
}

.inline-block ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 456px; */
  gap: 42px;
  color: #666666;
  font-weight: bold;
  font-size: 28px;
}

/* Hero Styles*/
.heroImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* margin-left: 148px; */
  gap: 124px;
  margin-bottom: 48px;
}
.hero-photo-small {
  /* display: none; */
}

.heroPhoto {
  max-width: 584px;
  width: 100%;
  /* height: 288px; */
}
.content {
  max-width: 668px;
  height: 392px;
  font-size: 22px;
  color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.content a {
  width: 100%;
  max-width: 264px;
  box-sizing: border-box;
  display: inline-block;
  padding-top: 20px;
  height: 70px;
  color: #df496d;
  font-size: 24px;
  font-weight: bold;
  border: #df496d 4px solid;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 68px;
  background-color: #fff;
  text-align: center;
  /* margin-top: 74px; */
  /* margin-left: 183px; */
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 48px;
}
.main-title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 72px;
  color: #4e4b72;
}

.school-music {
  /* max-width: ; */
}

.casestudy-title {
  font-size: 42px;
  color: #000000;
  margin: 0px;
  font-weight: bold;
}
p {
  font-size: 22px;
  color: #4e4b72;
  line-height: 32px;
  margin: 0px;
}
/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.logo-grey-small {
  display: none;
}

.footer-contact-list {
  display: flex;
  justify-content: space-between;
  gap: 11px;
}

.footer-text {
  color: #c2c2c2;
  font-size: 33px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact-list img {
  width: 64px;
  height: 64px;
}

.casestudy {
  display: grid;
  row-gap: 100px;

  /* justify-content: space-between; */
  /* align-items: center; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns:1fr 148px 1fr 148px 1fr; */
}
/* .casestudy img {

} */
.casestudy-item1 {
  grid-column: 1/3;
}
.case-study-item1-small {
  display: none;
}
.casestudy-item2 {
  grid-column: 3;
  /* padding-right: 300px; */
}
.casestudy-item3 {
  grid-column: 1;
  /* margin-left: 56px; */
}
.casestudy-item4 {
  grid-column: 2/4;
  margin-left: 196px;
  max-width: 740px;
}
.case-study-item4-small {
  display: none;
}

.casestudy-item5 {
  grid-column: 1/3;
  margin-right: 100px;
}
.case-study-item5-small {
  display: none;
}
.casestudy-item6 {
  grid-column: 3;
  margin-left: 100px;
}
.casestudy-item7 {
  grid-column: 1;
}
.casestudy-item8 {
  grid-column: 2/4;
  margin-left: 148px;
  /* padding-left: 84px; */
}
.case-study-item8-small {
  display: none;
}
.casestudy-item9 {
  grid-column: 1/3;
}
.case-study-item9-small {
  display: none;
}
.casestudy-item10 {
  grid-column: 3;
  margin-left: 84px;
}
.casestudy-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
/* .casestudy{
    grid-template-columns: 20% 70px 1fr 70px 20%;
} */
.hero-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  margin-bottom: 64px;
  align-items: center;
}
.hero-block.left-img {
  grid-template-areas: "img text";
}
.hero-block.right-img {
  grid-template-areas: "text img";
}

.hero-block .img {
  grid-area: img;
}
.hero-block .img img {
  width: 100%;
  /* width: minmax (300px, 100%); */
}
.hero-block .text {
  grid-area: text;
}
.hero-block h1,
.hero-block h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 24px;
}
.hero-block h1 {
  color: #4e4b72;
  font-size: 52px !important;
}
.hero-block h2 {
  font-size: 36px;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 10px;
  }
  .logo a {
    width: 40px;
    height: 40px;
  }
  .logo-img-big {
    display: none;
  }
  .main-title {
    font-size: 36px;
  }

  .logo-img-small {
    display: block;
  }

  .inline-block ul {
    gap: 10px;
    font-size: 16px;
  }
  .heroImg {
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .hero-photo-small {
    display: block;
    text-align: center;
    width: 100%;
  }
  .hero-photo-big {
    /* display: none; */
  }
  .content {
    max-width: 480px;
  }
  .heroPhoto {
    order: -1;
    max-width: 480px;
    width: 100%;
  }
  .casestudy {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 48px;
  }
  .casestudy-item1 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .case-study-item1-small {
    display: block;
    text-align: center;
    width: 100%;
    /* width: 100%;
        max-width: 480px; */
  }

  .casestudy-item2 {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
  }
  .casestudy-item3 {
    grid-column: 1;
    grid-row: 4;
    margin: 0;
  }
  .casestudy-item4 {
    grid-column: 1;
    grid-row: 3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .case-study-item4-small {
    display: block;
    text-align: center;
    width: 100%;
  }
  .case-study-item4-big {
    display: none;
  }

  .casestudy-item5 {
    grid-column: 1;
    grid-row: 5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .case-study-item5-small {
    display: block;
    text-align: center;
    width: 100%;
  }
  .case-study-item5-big {
    display: none;
  }
  .casestudy-item6 {
    grid-column: 1;
    grid-row: 6;
    margin: 0;
  }
  .casestudy-item7 {
    grid-column: 1;
    grid-row: 8;
    margin: 0;
  }
  .casestudy-item8 {
    grid-column: 1;
    grid-row: 7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .case-study-item8-small {
    display: block;
    text-align: center;
    width: 100%;
  }
  .case-study-item8-big {
    display: none;
  }
  .casestudy-item9 {
    grid-column: 1;
    grid-row: 9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .case-study-item9-small {
    display: block;
    text-align: center;
    width: 100%;
  }
  .case-study-item9-big {
    display: none;
  }
  .casestudy-item10 {
    grid-column: 1;
    grid-row: 10;
    margin: 0;
  }

  .footer {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-contact-list img {
    width: 30px;
    height: 30px;
  }
  .footer-contact-list {
    grid-area: 2/ 1 / span 1 / span 2;
    justify-content: center;
    gap: 30px;
  }
  .footer-text {
    font-size: 12px;
    grid-area: 1/ 2 / span 1 / span 1;
  }
  .logo-grey-big {
    display: none;
  }
  .logo-grey-small {
    display: block;
  }
  .footer-logo {
    grid-area: 1/ 1 / span 1 / span 1;
  }

  .casestudy-title {
    font-size: 30px;
  }
  .hero-block {
    grid-template-rows: repeat(2, 1fr) !important;
    grid-template-columns: none !important;
    grid-template-areas:
      "img"
      "text" !important;
    gap: 0px;
    margin-bottom: 0px;
  }
}

.button {
  display: inline-block;
  min-width: 56px;
  /* height: 36px; */
  border: #959595 4px solid;
  border-radius: 68px;
  padding-bottom: 20px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 20px;
  /* height: 70px; */
  color: #959595;
  font-size: 24px;
  font-weight: bold;
  border: #959595 4px solid;
  margin-top: 40px;
  transition: ease-in-out 0.2s;
}

.button:hover {
  border-color: #df496d;
  color: #df496d;
  cursor: pointer;
}
h3 {
  font-size: 32px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 20px;
}